
 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #585858;
        color: #fff;
   }
   header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
   }
   main {
    max-width: 800px;
    margin: 0 auto;
   }
   h1 {
    font-size: 28px;
    color:white;
   }
   h2 {
    color: white;
   }
   p {
    color:white;
   }
   ul {
    text-align: center;
    font-size: 18px;
   }
   button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
   }   
   li {
    color:white
   }
footer {
    background-color: #585858;
    color: #fff;
    padding: 20px 0;
    text-align: center;
   }
